{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Freeshelf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      {% block meta %}{% endblock %}
</head>
<body>
    <header class="flex items-center justify-between bg-green white ph3">
    <div id="title">
      <a href="{% url 'index' %}" style="text-decoration: none;"><h1 class="white">Freeshelf</h1></a>
    </div>

    {% block title %}{% endblock %}

    <div id="account-menu">
      <a class="washed-blue" href="#">Login</a> | <a class="washed-blue" href="#">Register</a>
    </div>
  </header>
  {% comment %}  {% endcomment %}
  {% block content %}{% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
</body>
</html>